@keyframes custom-bounce {
    0%, 100% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  
  .animate-custom-bounce {
    animation: custom-bounce 1s infinite;
  }
  


.image-container {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  .image-container::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Shadow color with transparency */
    filter: blur(10px); /* Adjust blur amount as needed */
    z-index: -1;
    border-radius: 50%; /* To make it circular */
  }
  
  .right-sidebar {
    position: fixed;
    bottom: -15px;
    right: 0;
    width: 80px; /* Adjust width as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000; /* Ensure it is on top of other elements */
}

.coconut-tree-container {
    width:300px; /* Set the desired width */
    height: 600px; /* Set the desired height */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Ensure the image starts from the bottom */
}
